<h2>{{myProp1 | uppercase}}</h2>
<br>
<div class="alert alert-warning">
  <h3>{{myProp2}}</h3>
</div>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th>No</th>
    <th>Syntax</th>
    <th>Output</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row">HomeAddress</td>
    <td>
      <h5>homeAddress | json </h5>
    </td>
    <td>
      <h5><pre>{{homeAddress | json }}</pre></h5>
    </td>
  </tr>
  <tr>
    <td scope="row">OfficeAddress</td>
    <td>
      <h5>officeAddress | json </h5>
    </td>
    <td>
      <h5><pre>{{officeAddress | json }}</pre></h5>
    </td>
  </tr>
  </tbody>
</table>
<br><br>

<div class="alert alert-danger">
  <h3>{{myProp3}}</h3>
</div>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th>No</th>
    <th>Syntax</th>
    <th>Output</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row">AddressArray</td>
    <td>
      <h5>addressArray | json </h5>
    </td>
    <td>
      <h5><pre>{{addressArray | json }}</pre></h5>
    </td>
  </tr>
  </tbody>
</table>

<br><br>
<div class="alert alert-dark">
  <h3>{{myProp4}}</h3>
</div>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th>No</th>
    <th>Syntax</th>
    <th>Output</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row">person1</td>
    <td>
      <h5>person1 | json </h5>
    </td>
    <td>
      <h5><pre>{{person1 | json }}</pre></h5>
    </td>
  </tr>
  <tr>
    <td scope="row">Person2</td>
    <td>
      <h5>person2 | json </h5>
    </td>
    <td>
      <h5><pre>{{person2 | json }}</pre></h5>
    </td>
  </tr>
  </tbody>
</table>
