<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="notice notice-danger" style="text-align:center;">Validation Demo2</h3>
            <br>
            <section>
                <form (ngSubmit)="formSubmit(loginfm)" class="form-horizontal" #loginfm="ngForm">
                    <div class="form-group">
                        <label for="tx" class="col-sm-2 control-label">Username ::</label>
                        <div class="col-sm-10">
                            <input name="uid" [(ngModel)]="modeluid" #uidinput="ngModel" required pattern="[a-z0-9A-Z]{4,10}" type="text" class="form-control"
                                id="tx" placeholder="Enter Username">
                            <span *ngIf="uidinput.invalid && (uidinput.dirty || uidinput.touched)" class="error">
                                <span *ngIf="uidinput.errors.required">
                                    Username Can't Be Blank!
                                </span>
                                <span *ngIf="uidinput.errors.pattern">
                                    Invalid Username!
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tx" class="col-sm-2 control-label">Password ::</label>
                        <div class="col-sm-10">
                            <input name="pwd" [(ngModel)]="modelpwd" #pwdinput="ngModel" required pattern="[a-z0-9A-Z]{4,10}" type="password" class="form-control"
                                id="tx" placeholder="Enter Password">
                            <span *ngIf="pwdinput.invalid && (pwdinput.dirty || pwdinput.touched)" class="error">
                                <span *ngIf="pwdinput.errors.required">
                                    Password Can't Be Blank!
                                </span>
                                <span *ngIf="pwdinput.errors.pattern">
                                    Invalid Password!
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tx" class="col-sm-2 control-label">Email ::</label>
                        <div class="col-sm-10">
                            <input name="emal" [(ngModel)]="modelemal" #emalinput="ngModel" required pattern="[a-z0-9A-Z!@#$%^&*()_.]{8,25}" type="email"
                                class="form-control" id="tx" placeholder="Enter Email">
                            <span *ngIf="emalinput.invalid && (emalinput.dirty || emalinput.touched)" class="error">
                                <span *ngIf="emalinput.errors.required">
                                    Email Can't Be Blank!
                                </span>
                                <span *ngIf="emalinput.errors.pattern">
                                    Invalid Email!
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button [disabled]="loginfm.invalid" type="submit" class="btn btn-success btn3d btn-lg">
                                <span class="glyphicon glyphicon-cloud"></span> Login</button>
                            <button (click)="getReset($event)" type="submit" class="btn btn-info btn3d btn-lg">
                                <span class="glyphicon glyphicon-warning-sign"></span> Reset</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 notice notice-danger">Username ::</div>
        <div class="col-xs-9  pull-left notice notice-danger">{{ uidinput.value }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3 notice notice-warning">Password ::</div>
        <div class="col-xs-9 pull-left notice notice-warning">{{ pwdinput.value }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3 notice notice-info">Email ::</div>
        <div class="col-xs-9 pull-left notice notice-info">{{ modelemal }}</div>
      </div>
</div>