<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-success btn3d btn-lg">
        <a routerLink="">
          Home
        </a>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-danger btn3d btn-lg">
        <a routerLink="brf">
          Basic Reactive Form
        </a>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-warning btn3d btn-lg">
        <a routerLink="nfg">
          Nested Form Group
        </a>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-info btn3d btn-lg">
        <a routerLink="nfa">
          Nested Form Array
        </a>
      </button>
    </div>
  </div>
</div>