<br/><br/>
<h1 [ngClass]="'one two'">{{title}}</h1>
<br/>
<div class="btn-group">
  <button type="button" (click)="getDescriptionRouteParam()" class="btn btn-danger btn-lg">Get Route Param</button>
</div>
<br/><br/>
<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"><h5><strong>FirstNumber&nbsp;::</strong></h5></label>
    <div class="col-sm-10">
      <input type="text" (input)="takeFirstNumber($event)" class="form-control" id="inputEmail3" placeholder="Type Here">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label"><h5><strong>SecondNumber&nbsp;::</strong></h5></label>
    <div class="col-sm-10">
      <input type="text" (input)="takeSecondNumber($event)" class="form-control" id="inputPassword3" placeholder="Type Here">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button type="button" (click)="forAdd()" class="btn btn-primary">Addition</button>&nbsp;&nbsp;
      <button type="button" (click)="forMinus()" class="btn btn-info">Subtraction</button>&nbsp;&nbsp;
      <button type="button" (click)="forMultiply()" class="btn btn-warning">Multiplication</button>&nbsp;&nbsp;
      <button type="button" (click)="forDivide()" class="btn btn-dark">Division</button>
    </div>
  </div>
</form>
<br/><br/>
<div class="alert alert-info fonty">
<h4>Value Of FirstNumber Is ::&nbsp;{{firstNumber}}</h4>
</div>
<br/>
<div class="alert alert-warning fonty">
  <h4>Value Of SecondNumber Is ::&nbsp;{{secondNumber}}</h4>
</div>
<br/>
<div class="alert alert-success fonty">
  <h4>Result Is ::&nbsp;{{result}}</h4>
</div>
<br/>
