<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--    <link rel="stylesheet" href="../../Library/bootstrap/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!--    <script src="../../Library/Angularjs/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
        //    app.js
        var app = angular.module("myApp", []);

        //    controller.js
        app.controller("myCtrl", ($scope, $http) => {
            $scope.getData = () => {
                $http.get("Data.json").then(function(response) {
                    $scope.content = response.data;
                }, function(err) {
                    $scope.content = "Data Is Unavailable";
                });
            }
        });
    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
    <button ng-click="getData()" class="btn btn-warning btn-lg">Get Data</button>
    <br>
    <br>
    <table border="2px" cellpadding="5px" width="60%">
        <tr>
            <th>Name</th>
            <th>Rollno</th>
            <th>Percentage</th>
        </tr>
        <tr ng-repeat="i in content">
            <td>{{i.Name}}</td>
            <td>{{i.RollNo}}</td>
            <td>{{i.Percentage}}</td>
        </tr>
    </table>
</body>

</html>