.green {
  color: green;
  font-style: italic;
  font-size: 2em;
  font-family: cursive;
}
.blue {
  color: blue;
  font-style: normal;
  font-size: 2em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
