<div class="container">
  <div class="row">
  	<div class="col-md-12">
      <br><br>
  		<h1 [ngClass]="'one two'">{{title}}</h1>
      <br>
      <app-upperlowercasepipe></app-upperlowercasepipe>
      <br>
      <hr>
      <br>
      <app-datepipe [prop1]="subtitle1" [prop2]="subtitle2" [prop3]="subtitle3" [prop4]="subtitle4"></app-datepipe>
      <br>
      <hr>
      <br>
      <app-slicepipe [prop1]="subtitle5" [prop2]="subtitle6" [prop3]="subtitle7"></app-slicepipe>
      <br>
      <hr>
      <br>
      <app-jsonpipe [prop1]="subtitle8" [prop2]="subtitle9" [prop3]="subtitle10" [prop4]="subtitle11"></app-jsonpipe>
      <br>
      <hr>
      <br>
      <app-numbersrelatedpipe [prop1]="subtitle12" [prop2]="subtitle13" [prop3]="subtitle14" [prop4]="subtitle15"></app-numbersrelatedpipe>
      <br>
      <hr>
      <br>
      <app-custompipe [prop1]="subtitle16" [prop2]="subtitle17" [prop3]="subtitle18" [prop4]="subtitle19"></app-custompipe>
      <br>
  	</div>
  </div>
</div>
