<div class="container">
  <div class="row">
    <div class="col-md-3">
      <button type="button" class="btn btn-danger btn-lg">
        <a routerLink="">Home</a>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-warning btn-lg">
        <a routerLink="first">1stReactiveForm</a>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-info btn-lg">
        <a routerLink="second">2ndReactiveForm</a>
      </button>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-lg">
        <a routerLink="third">3rdReactiveForm</a>
      </button>
  </div>
</div>