.head {
    text-align: center;
    color: red;
}
.required {
    color: green;
    font-size: 30px;
}
.optional {
    color: red;
    background-color: cyan;
    font-family: cursive;
    font-size: 20px;
} 