<h2>{{myProp1 | lowercase}}</h2>
<br>
<div class="alert alert-warning">
  <h3>{{myProp2}}</h3>
</div>
<br>
<ul>
  <li *ngFor="let f of fruits | slice:2:6">
    <h4>{{f}}</h4>
  </li>
</ul>
<br><br>
<div class="alert alert-danger">
  <h3>{{myProp3}}</h3>
</div>
<br>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th>No</th>
    <th>Syntax</th>
    <th>Output</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td scope="row">1</td>
    <td><h5>words | slice:0:4</h5></td>
    <td><h5>{{words | slice:0:4}}</h5></td>
  </tr>
  <tr>
    <td scope="row">2</td>
    <td><h5>words | slice:4:0</h5></td>
    <td><h5>{{words | slice:4:0}}</h5></td>
  </tr>
  <tr>
    <td scope="row">3</td>
    <td><h5>words | slice:1:6</h5></td>
    <td><h5>{{words | slice:1:6}}</h5></td>
  </tr>
  <tr>
    <td scope="row">4</td>
    <td><h5>words | slice:-4</h5></td>
    <td><h5>{{words | slice:-4}}</h5></td>
  </tr>
  <tr>
    <td scope="row">5</td>
    <td><h5>words | slice:1:3</h5></td>
    <td><h5>{{words | slice:1:3}}</h5></td>
  </tr>
  <tr>
    <td scope="row">6</td>
    <td><h5>words | slice:-100</h5></td>
    <td><h5>{{words | slice:-100}}</h5></td>
  </tr>
  <tr>
    <td scope="row">7</td>
    <td><h5>words | slice:-50</h5></td>
    <td><h5>{{words | slice:-50}}</h5></td>
  </tr>
  </tbody>
</table>
<br>
