<br/><br/>
<h1 [ngClass]="'one two'">{{title}}</h1>
<br/><br/>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" routerLink="office/B-751, NorthBlock/Sydney/Australia/3245220" role="tab" aria-controls="nav-home" aria-selected="true">Office Component</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="corpoffice/1675, Rohini Sector-18/NewDelhi/India/110089" role="tab" aria-controls="nav-profile" aria-selected="false">Corporate Office Component</a>
  </div>
</nav>
<br/>
<div class="tab-content" id="nav-tabContent">
  <router-outlet></router-outlet>
</div>
